<html>
<head>
    <title>Krabby - Utils example</title>
</head>
<body>
    <h2>Utils included with Krabby</h2>
    
    <p><b>Input</b>: {{str}}</p>
    <p><b>Secret</b>: {{hmac}}</p>
    <p>Random 32 character long key: {{key}}</p>
    <p>Raw SHA1 bytes from <b>input</b>: {{sha1}}</p>
    <p>SHA1 hex from <b>input</b>: {{sha1hex}}</p>
    <p>HMAC-SHA1 from <b>input</b> using <b>secret</b>: {{hmacsha1}}</p>
    <p>Escaped HTML: {{escaped}}</p>
</body>