<html>
<head>
    <title>Krabby</title>
</head>
<body>
    <h1>Welcome, {{name}}!</h1>
    <img src="/public/krabby.gif" />
    
    <h2>Examples</h2>
    <ul>
        <li><a href="/db">db.lua - Key-Value storage example</a></li>
        <li><a href="/ws">websocket.lua - Websocket API example</a></li>
        <li><a href="/util">utils.lua - Various included utils examples</a></li>
    </ul>
</body>