<html>
<head>
    <title>Krabby</title>
</head>
<body>
    <h1>Welcome, {{name}}!</h1>
    <img src="/public/krabby.gif" />
    
    <h2>Examples</h2>
    <ul>
        <li><a href="/db">db.lua - Key-Value storage</a></li>
        <li><a href="/ws">websocket.lua - Websocket API</a></li>
        <li><a href="/restful">restful.lua - A RESTful API</a></li>
        <li><a href="/util">utils.lua - Various included utils</a></li>
        <li><a href="/admin">admin.lua - Realtime recompilation and reload of lua scripts</a></li>
    </ul>
</body>